#content, #hmenus, #mainbar .subheader, .mainbar .subheader,
  #footer .footerwrap {
    background-image: none !important;
  }
  #hlogo {
    left: 25px !important;
  }
  .nav li a {
    margin: 0 !important;
    padding: 10px 20px !important;
  }
  #nav-askquestion {
    text-indent: 10px !important;
  }
  a[class*="vote-"]:hover {
    background-color: transparent !important;
  }