/* meta.stackoverflow.com */
  #hlogo a {
    background-image: url(https://StylishThemes.github.io/StackOverflow-Dark/images/meta-stackoverflow-logo.svg) !important;
  }
  #sidebar .community-bulletin .bulletin-item-content a, #sidebar .community-bulletin .bulletin-item-content a:hover {
    color: #4183C4 !important;
  }
  #sidebar .community-bulletin .bulletin-item-content a:hover {
    color: #fff !important;
  }