#hlogo a {
    height: 60px !important;
    background-size: cover !important;
    background-image: url(https://StylishThemes.github.io/StackOverflow-Dark/images/superuser-logo.svg) !important;
  }